body {
  margin: 0;
}

.header {
  background: center center / 100% 100% no-repeat url('../images/header_bg.svg')  ;

  position: fixed;
  height: 60%;
  width: 100%;
  font: 700 60px/60px Futura;
  color: white;

  .logo {
    font-size: 30px;
    letter-spacing: normal;
    margin: 0 0 16px;
    color: white;
  }

  .title {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 100px;
    margin-left: 100px;

    &::before {
      content: "";
      position: absolute;
      display: block;
      background: url(/src/images/yellow-cursor.svg) no-repeat;
      top: -90px;
      left: -85px;
      z-index: -1;
      width: 100%;
      height: 100%;
    }

    .title-line {
      display: inline-block;
      background-color: black;
      padding: 8px;
      position: relative;

      .title-emphasis {
        color: fuchsia;
      }

      &::after {
        content: "";
        position: absolute;
        display: block;
        background-color: white;
        bottom: -8px;
        width: 100%;
        height: 100%;
        z-index: -1;
      }
    }
  }
}
