body {
  margin: 0;
}

.header {
  background-color: skyblue;
  position: fixed;
  height: 60%;
  width: 100%;

  .first-title {
    padding-left: 32px;
    span {
      font: 700 72px/60px Futura;
      letter-spacing: normal;
      background-color: black;
      color: white;
      position: relative;
      width: fit-content;
    }

    span::after {
      content: "";
      background-color: white;
      color: white;
      position: absolute;
      bottom: 0px;
      left: 8px;
      width: 100%;
      height: 72px;
      z-index: -1;
    }
  }

  .second-title {
    margin-top: 19px;
    padding-left: 32px;
    span {
      font: 700 72px/60px Futura;
      letter-spacing: normal;
      background-color: black;
      color: white;
      position: relative;
      width: fit-content;
    }

    span::after {
      content: "";
      background-color: white;
      color: white;
      position: absolute;
      bottom: -8px;
      left: 8px;
      width: 100%;
      height: 80px;
      z-index: -1;
    }
  }

  .logo {
    font: 700 32px/38px Arial;
    letter-spacing: normal;
    margin: 0 0 16px;
    color: white;
  }

  .header-picture {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    margin-right: 50px;

    img {
      width: 40%;
    }
  }
}
