body {
  margin: 0;
}

.header {
  background: center center / 100% 100% no-repeat url('../images/header_bg.svg');
  font: 700 60px Futura;
  color: white;
  height: 80%;
  width: 100%;
  padding: 24px;

  .logo {
    font-size: 30px;
    letter-spacing: normal;
    margin: 0 0 16px;
    color: white;
  }

  .title {
    position: absolute;
    top: 52%;
    left: 20%;
    font-size: clamp(2rem, 5vw, 4rem);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 0;

    &::before {
      content: "";
      position: absolute;
      display: block;
      background: url('../images/icon-yellow-header.svg') no-repeat;
      top: -75px;
      left: -80px;
      z-index: -1;
      width: 100%;
      height: 45%;
    }

    .title-line {
      display: inline-block;
      background-color: black;
      padding: 8px;
      position: relative;

      .title-emphasis {
        color: #f32393;
      }

      &::after {
        content: "";
        position: absolute;
        display: block;
        background-color: white;
        bottom: -8px;
        width: 100%;
        height: 100%;
        z-index: -1;
      }
    }
  }

  .team-images {
    position: relative;
    width: 60%;
    height: 80%;
    left: 20%;

    .img1, .img2, .img3 {
      position: absolute;
      height:auto;
    }

    .img1 {
      max-width:80%;
      right: 32%;
      top:10%;
    }

    .img2 {
      max-width:50%;
      right: 10%;
    }

    .img3 {
      max-width:50%;
      right: 3%;
      top: 53%;
    }

  }
}

/*Mobile and tablet styles*/
@media only screen and (max-width: 1024px){
  .header {
    .title {
      &::before {
        top: -65px;
        left: -65px;
        
      }
    }
  }
}