body {
  margin: 0;
  background: white;
}

.header {
  background: center center / 100% 100% no-repeat url("../images/header_bg.svg");
  font: 700 60px Futura;
  color: white;
  height: 80%;
  padding: 24px;

  .logo {
    font-size: 30px;
    letter-spacing: normal;
    margin: 0 0 16px;
    color: white;
  }

  .title {
    position: absolute;
    top: 52%;
    left: 20%;
    font-size: clamp(1.5rem, 5vw, 4rem);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 0;
    white-space: nowrap;

    &::before {
      content: "";
      position: absolute;
      display: block;
      background: url("../images/icon-yellow-header.svg") no-repeat;
      top: -42%;
      left: -12%;
      z-index: -1;
      width: 100%;
      height: 45%;
    }

    .title-line {
      display: inline-block;
      background-color: black;
      padding: 8px;
      position: relative;

      .text-animation {
        display: inline-flex;
        height: 1.2em;
        overflow: hidden;

        .title-emphasis {
          position: relative;
          padding: 0;
          margin:0;
          color: #f32393;
          animation: animate 5s linear infinite;
        }
      }

      @keyframes animate {
        0% {
          transform: translateY(0em);
        }

        30% {
          transform: translateY(0em);
        }

        40% {
          transform: translateY(-1.05em);
        }

        65% {
          transform: translateY(-1.05em);
        }

        75%,
        90% {
          transform: translateY(-2.10em);
        }

        75%,
        90% {
          transform: translateY(-2.10em);
        }

        100% {
          transform: translateY(-3.15em);
        }
      }

      &::after {
        content: "";
        position: absolute;
        display: block;
        background-color: white;
        bottom: -8px;
        width: 100%;
        height: 100%;
        z-index: -1;
      }
    }
  }

  .team-images {
    position: relative;
    width: 60%;
    height: 80%;
    left: 20%;

    .img1,
    .img2,
    .img3 {
      position: absolute;
      height: auto;
    }

    .img1 {
      max-width: 80%;
      right: 32%;
      top: 10%;
    }

    .img2 {
      max-width: 50%;
      right: 10%;
    }

    .img3 {
      max-width: 50%;
      right: 3%;
      top: 53%;
    }
  }
}

/*Mobile styles*/
@media (min-width: 200px) and (max-width: 690px) {

  .header {
    .title {
      left: 7%;
      top: 16%;

      &::before {
        width: 13%;
        top: -36%;
        left: -12%;
      }
    }

    .team-images {
      top: 30%;
      width: 86%;
      height: 35%;
      left: 14%;

      .img3 {
        top: 68%;
      }
    }
  }
}

/*Tablet styles*/
@media (min-width: 700px) and (max-width: 1024px) {
  .header {
    .title {
      left: 10%;
      top: 16%;
      &::before {
        top: -43%;
        left: -13%;
      }
    }
    .team-images {
      top: 30%;
      width: 65%;
      height: 41%;
      left: 20%;
    }
  }
}