body {
  margin: 0;
}

.header {
  background: center center / 100% 100% no-repeat url('../images/header_bg.svg');
  font: 700 60px Futura;
  color: white;
  position: fixed;
  height: 80%;
  width: 100%;
  padding: 24px;

  .logo {
    font-size: 30px;
    letter-spacing: normal;
    margin: 0 0 16px;
    color: white;
  }

  .title {
    position: absolute;
    bottom: 13%;
    left: 2%;
    font-size: clamp(2rem, 5vw, 4rem);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 100px;
    margin-left: 100px;
    z-index: 0;

    &::before {
      content: "";
      position: absolute;
      display: block;
      background: url('../images/icon-yellow-header.svg') no-repeat;
      top: -70px;
      left: -75px;
      z-index: -1;
      width: 100%;
      height: 100%;
    }

    .title-line {
      display: inline-block;
      background-color: black;
      padding: 8px;
      position: relative;

      .title-emphasis {
        color: #f32393;
      }

      &::after {
        content: "";
        position: absolute;
        display: block;
        background-color: white;
        bottom: -8px;
        width: 100%;
        height: 100%;
        z-index: -1;
      }
    }
  }

  .team-images {
    position: absolute;
    display: flex;
    flex-direction: row;
    margin-left: 20%;

    .header-1-image {
      transform: translateY(27px);
      img {
        border-radius: 10px;
        width: 90%;
      }
    }

    .second-column {
      display: flex;
      flex-direction: column;

      .header-2-image {
        z-index: -1;
        transform: translateX(-34%);

        img {
          border-radius: 10px;
          width: 80%;
        }
      }

      .header-3-image {
        z-index: -1;
        padding-top: 16px;

        img {
          border-radius: 10px;
          width: 80%;
        }
      }
    }
  }
}
