body {
  margin: 0;
}

.header {
  background: center center / 100% 100% no-repeat url('../images/header_bg.svg')  ;
  font: 700 60px Futura;
  color: white;
  position: fixed;
  height: 80%;
  width: 100%;
  padding: 24px;

  .logo {
    font-size: 30px;
    letter-spacing: normal;
    margin: 0 0 16px;
    color: white;
  }

  .title {
    position: absolute;
    bottom: 20%;
    left: 5%;
    font-size: clamp(2rem, 5vw, 4rem);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 100px;
    margin-left: 100px;

    &::before {
      content: "";
      position: absolute;
      display: block;
      background: url(../images/yellow-cursor.svg) no-repeat;
      top: -90px;
      left: -85px;
      z-index: -1;
      width: 100%;
      height: 100%;
    }

    .title-line {
      display: inline-block;
      background-color: black;
      padding: 8px;
      position: relative;

      .title-emphasis {
        color: #f32393;
      }

      &::after {
        content: "";
        position: absolute;
        display: block;
        background-color: white;
        bottom: -8px;
        width: 100%;
        height: 100%;
        z-index: -1;
      }
    }
  }

  .images-grid {
    grid-row-gap:10px;
    position: absolute;
    margin-left: -56px;
    width: 100%; 
    height: 100%;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: 
      "a a b"  
      "a a c";
  }

  .team-picture {
    grid-area: a;
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    transform: translate(6%,12%);
    z-index: -1;

    img {
      border-radius: 10px;
      width: 40%;
    }
  }

  .funny-picture {
    grid-area: b;
    position: absolute;
    z-index: -1;

    img {
      border-radius: 10px;
      width: 40%;
    }
  }

  .girls-picture {
    grid-area: c;
    position: absolute;
    transform: translate(18%);

    img {
      border-radius: 10px;
      width: 40%;
    }
  }
}
