body {
  margin: 0;
}

.header {
  --header-title-line-bg-shift: 8px;
  --header-title-target-size: 4vw;
  --header-title-font-size: clamp(1.5rem, 4vw, 4rem);

  position: relative;
  background: center center / 100% 100% no-repeat url("../images/home/header/bg.svg");
  font: 700 60px Futura;
  color: white;
  height: 660px;
  padding: 24px;

  .logo {
    font-size: 30px;
    letter-spacing: normal;
    margin: 16px;
  }

  .title {
    position: absolute;
    bottom: 120px;
    left: 15%;
    font-size: var(--header-title-font-size);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 0;

    &::before {
      content: "";
      position: relative;
      background: url("../images/home/header/icon-yellow.svg") no-repeat;
      width: var(--header-title-target-size);
      height: var(--header-title-target-size);
      margin-left: calc(-1 * var(--header-title-target-size));
    }

    .title-line {
      display: inline-block;
      position: relative;
      background-color: black;
      padding: 8px;

      .title-emphasis {
        color: #f32393;
      }

      &::before {
        content: "";
        position: absolute;
        margin-top: -8px;
        margin-left: -8px;
        background-color: white;
        transform: translate(var(--header-title-line-bg-shift), var(--header-title-line-bg-shift));
        width: 100%;
        height: 100%;
        z-index: -1;
      }
    }
  }

  .team-images {
    background: url("../images/home/header/dash.svg") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 72px;
    width: 55%;
    height: 488px;
    left: 30%;
 
    .img1,
    .img2,
    .img3 {
      position: absolute;
      height: auto;
    }

    .img1 {
      width: 60%;
      max-width: 577px;
      left: 3%;
      top: 16%;
    }

    .img2 {
      width: 35%;
      right: 11%;
      top: 3%;
    }

    .img3 {
      height: 42%;
      right: 3%;
      bottom: 4%;
    }
  }
}

/*Tablet styles*/
@media (min-width: 700px) and (max-width: 1024px) {
  .header {
    --header-title-target-size: 6vw;
    .title {
      top: 16%;
      left: 10%;
    }
    .team-images {
      width: 70%;
      left: 15%;
      right: 15%;
      bottom: 0;
    }
  }
}

/*Mobile styles*/
@media (max-width: 699px) {
  .header {
    --header-title-target-size: 6vw;
    --header-title-font-size: 7vw;
    display: flex;
    flex-direction: column;
    .title {
      order: 1;
      position: relative;
      bottom: unset;
      left: unset;
      margin-bottom: 30px;
    }
    .team-images {
      order: 2;
      position: relative;
      top: unset;
      width: 100%;
      left: unset;
      right: unset;
      height: 250px;
    }
  }
}